@import '../../shared-styles/sass';

svg {
  height: 100%;
  width: 100%;
}

.light {
  fill: $white;

  g { fill: $white; }

  path { fill: $white; }
}

.green {
  fill: $green;

  g { fill: $green; }

  path { fill: $green; }
}