<section class="section-container">
  <h1 class="section-header">Symplicity Voting App</h1>

  <div class="form-container">
    <form action="">

      <!-- Username -->
      <div class="input-container username-container">
        <div class="svg-container">
          <sym-svg [svgName]="'User'" [style]="'light'"></sym-svg>
        </div>
        <input class="input user-input" type="text" placeholder="Username">
      </div>

      <!-- Password -->
      <div class="input-container password-container">
        <div class="svg-container">
          <sym-svg [svgName]="'Password'" [style]="'light'"></sym-svg>
        </div>
        <input class="input user-input" type="password" placeholder="Password">
      </div>

      <!-- Sign in -->
      <button class="input submit-button">Sign in</button>
    </form>
  </div>
</section>